.*
!/.bazelignore
!/.bazelrc
!/.bazelversion
!/.buildkite/
!/.codeclimate.yml
!/.envrc
!/.gitattributes
!/.github/
!/.gitignore
!/.ko.yaml
!/.scalafmt.conf
!/.sops.yaml
!/.yamlfmt
!/.yamllint
/bazel-*
/bin/
/user.bazelrc
/pgpasswd
